body {
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

#pad1, #pad2, #pad3, #pad4, #pad5, #pad6, #pad7, #pad8, #pad9, #pad10, #pad11, #pad12, #pad13, #pad14, #pad15, #pad16 {
    z-index: 0;
    width: 140px;
    height: 140px;
    margin: 6px;
    color: white;
    background-color: black;
    position: relative;
}

.pad-title {
    position: relative;
    z-index: 2;
    padding: 14px 0px 0px 14px;
    font-size: 20px;
}

.sound-title {
    z-index: 2;
    padding: 0px 0px 14px 14px;
    position: absolute;
    bottom: 0;
    left: 0;
}

button {
    z-index: 1;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    position: absolute;
    margin-top: -34.3px;
    border: none;
    background-color: unset;
}

button:active {
    background-color: red;
}